{% extends 'frontend/base.html.twig' %}
{% block content %}
	<!--================== Project Section Start ==================-->
	<section class="section">
		<div class="container">
			<div class="row g-4 align-items-center">

				<div class="col-lg-6">
					<img src="https://drive.google.com/uc?id={{portfolio.getImage()}}" alt="portfolio" class="img-fluid">
				</div>
				<div class="col-lg-6 ps-lg-5">
					<div class="mb-4">
						<h2 class="text-capitalize mb-3 h3">{{portfolio.getHeading()}}</h2>
						<p>{{ portfolio.getDescription()|raw }}</p>
					</div>


					<h4 class="mb-2">Technology</h4>
					<p>
						{{portfolio.getTechnology()}}
					</p>

					<h4 class="mb-2">Categories
					</h4>
					<p>{{portfolio.getCategory()}}</p>

					<a href="javascript:;" class="text-capitalize btn btn-outline-primary px-4 py-2">Project Link</a>
				</div>

			</div>
		</div>
	</section>
	<!--================== Project Section End ==================-->
{% endblock %}
