{% extends 'frontend/base.html.twig' %}
{% block content %}

	<!--================== Hero Area Section Start ==================-->
	<section class="hero-area section">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-8 mx-auto">
					<div class="hero-img mx-auto mb-3 position-relative">
						<img src="frontend_files/images/banner-img.png" alt="img">
						<span class="shape shape-1"></span>
						<span class="shape shape-2"></span>
						<span class="shape shape-3"></span>
						<span class="shape shape-4"></span>
					</div>
					<p class="mb-3 fw-medium fs-4 text-primary">Hello, myself Rick....</p>
					<h1 class="mb-4">Creating fast website and softwares
					</h1>
					<p class="mb-5">Lorem ipsum dolor sit amet, consecttur adipiscing Orci
																														          fauff cibus urna, sed senectus iaculis leo condimentum. Maenas nec adipiscing neque, pellentesque in. Metus
																														          fusce.</p>
					<a href="#" class="btn btn-primary btn-lg">Know About Me</a>
				</div>
			</div>
		</div>
		<div class="has-circle">
			<span class="circle circle-1"></span>
			<span class="circle circle-2"></span>
			<span class="circle circle-3"></span>
			<span class="circle circle-4"></span>
			<span class="circle circle-5"></span>
			<span class="circle circle-6"></span>
			<span class="circle circle-7"></span>
		</div>
	</section>
	<!--================== Hero Area Section End ==================-->

	<!--================== Brand Logo Section start ==================-->
	<section class="brand-logo section pt-0">
		<div class="container">
			<div class="brand-logo-slider" data-aos="fade-up" data-aos-duration="1500">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/facebook.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/airbnb.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/microsoft.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/hubspp.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/facebook.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/irbnb.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/microsoft.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/hubspp.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
			</div>
		</div>
	</div>
</div></section><!--================== Brand Logo Section End ==================--><!--================== Section Start ==================--><section class="has-bg-color">
<div class="container">
	<div class="row  justify-content-center align-items-center">
		<div class="col-md-6">
			<div class="me-4" data-aos="fade-right" data-aos-duration="1500">
				<h2>A Global network of Talent That changeing the way Of creative</h2>
			</div>
		</div>
		<div class=" col-md-6" data-aos="fade-left" data-aos-duration="1500">
			<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Males
																				          a est sagittis et nulla leo ut nulla aliquam. Nisi, fermentum venentis enim vel suspend wergisse eu magnis
																				          libero orci. Malesuada tortor aliquam malesuada vitae, ullamcorper nisl eget gravda et. Vivmus arcu laoreet
																				          gravida purus cras. Et laoreet sit feugiat vehicula dufzi,
																				          ermentum venentis enim vel suspend wergisse eu magnis libe orci.</p>
		</div>
	</div>
</div></section><!--================== Section End ==================--><!--================== Service Section Start ==================--><section class="services section">
<div class="container">
	<div class="row mb-5 text-center">
		<div class="col-lg-6 col-12 mx-auto ">
			<div class="section-title mb-md-4">
				<h2>Providing
					<strong>Services
						<svg width="198" height="21" viewbox="0 0 198 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 18.7327C13.8854 9.74093 29.4859 8.69377 43.6964 6.03115C65.1095 2.01897 86.6266 1.40829 108.405 2.01061C137.628 2.81881 166.558 7.3721 195.577 11.0296" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
				</h2>
			</div>
		</div>
	</div>
	<div class="row g-4 justify-content-center">
		<div class="col-lg-4 col-md-6 card-item">
			<div class="card text-center  border-0 bg-white radius shadow px-3 py-5" data-aos="fade-right" data-aos-duration="1500">
				<div class="card-icon mb-3">
					<i class="fas fa-cloud "></i>
				</div>
				<div class="card-body">
					<h4 class="card-title">Research And Design</h4>
					<p class="card-text small">Lorem ipsum dolor amet, consesd ctetur adipiscing elit. Malesa est sagittis et
																														              nuasslla ntis enim vel suspend wergisse eu masgnis suada vitae, ullamchper nisl eget gravda.</p>
					<a href="portfolio-single.html" class="text-primary card-link mb-0 small">View Details<i class="fas fa-arrow-right ms-2"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 card-item">
			<div class="card text-center  border-0 bg-white radius shadow px-3 py-5">
				<div class="card-icon  mb-3">
					<i class="far fa-lightbulb "></i>
				</div>
				<div class="card-body">
					<h4 class="card-title">User Interface Design</h4>
					<p class="card-text small">Lorem ipsum dolor amet, consesd ctetur adipiscing elit. Malesa est sagittis et
																														              nuasslla ntis enim vel suspend wergisse eu masgnis suada vitae, ullamchper nisl eget gravda.</p>
					<a href="#" class="text-primary card-link mb-0 small">View Details<i class="fas fa-arrow-right ms-2"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 card-item">
			<div class="card text-center  border-0 bg-white radius shadow px-3 py-5" data-aos="fade-left" data-aos-duration="1500">
				<div class="card-icon mb-3">
					<i class="fas fa-suitcase-rolling "></i>
				</div>
				<div class="card-body">
					<h4 class="card-title">User Experience Design</h4>
					<p class="card-text small">Lorem ipsum dolor amet, consesd ctetur adipiscing elit. Malesa est sagittis et
																														              nuasslla ntis enim vel suspend wergisse eu masgnis suada vitae, ullamchper nisl eget gravda.</p>
					<a href="#" class="text-primary card-link mb-0 small">View Details<i class="fas fa-arrow-right ms-2"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div></section><!--================== Service Section End ==================--><!--================== Experience Section Start ==================--><section class="experience section">
<div class="container">
	<div class="row justify-content-between " data-aos="fade-up" data-aos-duration="1000">
		<div class="col-lg-5">
			<div class="section-title mb-5">
				<h2>I Have brunch Of Huge
					<strong>
						Experience.....
						<svg width="243" height="19" viewbox="0 0 243 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.21709 14.5397C22.6251 11.094 43.5278 9.994 63.9195 6.62078C83.198 3.43169 103.311 4.48586 122.822 4.14529C147.108 3.72138 171.148 2.75291 195.34 5.24786C205.654 6.31158 217.3 7.49114 227.395 9.95137C230.185 10.6315 240.184 10.4221 241.39 12.7333" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
				</h2>
			</div>
			<p>Lorem ipsum dolor sit amet, conse asdsd ctetur adipiscing elit. Malesa est
																				          sagittis et nualla leo ut nulla
																				          aliquam. Nisi, fermetum suspend vene ntis enim vel sussrf bedspend</p>
			<div class="d-sm-flex justify-content-center mb-5 mb-lg-0 border-top pt-4 mt-4">
				<div class="bg-primary me-sm-4 p-3 mb-4 mb-md-0">
					<span class="text-primary h2">287+</span>
					<p class="small">Lorem ipsum dolor sit amet, consesd
					</p>
				</div>
				<div class="bg-primary me-sm-4 p-3 mb-4 mb-md-0">
					<span class="text-primary h2">12 years</span>
					<p class="small">Lorem ipsum dolor siswsst amet, codvsd nssde esd
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="mb-5">
				<p class="text-secondery fw-normal mb-3 h4">Senior Product Designer</p>
				<h3 class="mb-3 pb-3 border-bottom">Agency Vision Trust</h3>
				<div class="d-md-flex justify-content-between">
					<p class="fw-normal">Dec 2018 - Sep 2019</p>
					<p class=" fw-normal">Thornridge Cir. Shiloh, Hawaii</p>
				</div>
			</div>
			<div class="mb-5">
				<p class="text-secondery fw-normal mb-3 h4">Lead User experience Designer</p>
				<h3 class="mb-3 pb-3 border-bottom">Balkan Brothers Ltd.</h3>
				<div class="d-md-flex justify-content-between">
					<p class="fw-normal">Dec 2018 - Sep 2019</p>
					<p class=" fw-normal">Washington. Manchester, Kentucky</p>
				</div>
			</div>
			<div class="mb-5">
				<p class="text-secondery fw-normal h4 mb-3">user Experience Designer</p>
				<h3 class="mb-3 pb-3 border-bottom">Grabstar Design House</h3>
				<div class="d-sm-flex justify-content-between">
					<p class="fw-normal">Dec 2018 - Sep 2019</p>
					<p class=" fw-normal">Thoridge. Syracuse, Connecticut</p>
				</div>
			</div>
		</div>
	</div>

</div></section><!--================== Experience Section End ==================--><!--================== Blog-post Section Start ==================--><section class="blog-post section pt-0">
<div class="container">
	<div class="row mb-5 justify-content-center align-items-center text-center">
		<div class="col-lg-6 col-12 mx-auto">
			<div class="section-title mb-5">
				<h2>My
					<strong>
						Blogpost
						<svg width="198" height="21" viewbox="0 0 198 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 18.7327C13.8854 9.74093 29.4859 8.69377 43.6964 6.03115C65.1095 2.01897 86.6266 1.40829 108.405 2.01061C137.628 2.81881 166.558 7.3721 195.577 11.0296" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
				</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 mx-auto justify-content-center align-items-center ">
			<div class="row justify-content-between align-items-center border-bottom blog mb-4 pb-4" data-aos="fade-up" data-aos-duration="1000">
				<div class="col-md-9">
					<a href="#" class=" d-inline-block h3 mb-3 text-tertiary fw-bold">Hundreds Of Thousands A Still More Glorious Nights Around Art Table</a>
					<p class="mb-1">Nam ultrices ultrices nec tortor pulvinar fermentum mi. Sociis sit tristi fgfxqsue sagittis, mauris
																														                  volutpat estera phasellus. Varius nec orci, quam augue lorem lines pellentesque non id. Tristique amet
																														                  volutpat nunc euismod. Mauris felis at</p>
					<a href="{{path('app_blog_single',{'blog_slug':'blog_slug'})}}" class="text-primary small">Read more
						<i class="fas fa-arrow-right small ms-2"></i>
					</a>
				</div>
				<div class="col-md-2">
					<div class="blog-date">
						<h5>Nov 28, 2019
							<span class="text-primary d-inline-block">Parenting
							</span>
						</h5>
					</div>
				</div>
			</div>
			<div class="row justify-content-between align-items-center border-bottom blog mb-4 pb-4" data-aos="fade-up" data-aos-duration="2000">
				<div class="col-md-9">
					<a href="#" class="d-inline-block h3 mb-3 text-tertiary fw-bold">Preserve And Cherish That Pale Blue Dot Are Creatures Of The Cosmos
					</a>
					<p class="mb-1">Nam ultrices ultrices nec tortor pulvinar fermentum mi. Sociis sit tristi fgfxqsue sagittis, mauris
																														                volutpat estera phasellus. Varius nec orci, quam augue lorem lines pellentesque non id. Tristique amet
																														                volutpat nunc euismod. Mauris felis at</p>
					<a href="#" class="text-primary small">Read more
						<i class="fas fa-arrow-right small ms-2"></i>
					</a>
				</div>
				<div class="col-md-2">
					<div class="blog-date">
						<h5>Nov 28, 2019
							<span class="text-primary d-inline-block">Parenting
							</span>
						</h5>
					</div>
				</div>
			</div>
			<div class="row justify-content-between align-items-center border-bottom blog mb-4 pb-4" data-aos="fade-up" data-aos-duration="3000">
				<div class="col-md-9">
					<a href="#" class="mb-3 h3 text-tertiary fw-bold">Great Turbulent Clouds Hearts Of The Stars Stirred By Starlight Sky Culture</a>
					<p class="mb-1">Nam ultrices ultrices nec tortor pulvinar fermentum mi. Sociis sit tristi fgfxqsue sagittis, mauris
																														                volutpat estera phasellus. Varius nec orci, quam augue lorem lines pellentesque non id. Tristique amet
																														                volutpat nunc euismod. Mauris felis at</p>
					<a href="#" class="text-primary small">Read more
						<i class="fas fa-arrow-right small ms-2"></i>
					</a>

				</div>
				<div class="col-md-2">
					<div class="blog-date">
						<h5>Nov 28, 2019
							<span class="text-primary d-inline-block">Parenting
							</span>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></section><!--================== Blog-post Section End ==================--><!--================== Project Section Start ==================--><section class="projects section pt-0">
<div class="container">
	<div class="row mb-5 text-center">
		<div class="col-lg-6 col-12 mx-auto ">
			<div class="section-title mb-md-4">
				<h2>My
					<strong>
						Selected
						<svg class="" width="198" height="21" viewbox="0 0 198 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 18.7327C13.8854 9.74093 29.4859 8.69377 43.6964 6.03115C65.1095 2.01897 86.6266 1.40829 108.405 2.01061C137.628 2.81881 166.558 7.3721 195.577 11.0296" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
					projects

				</h2>
			</div>
		</div>
	</div>
	<div class="row g-4 g-md-5 ">
		<div class="col-md-6 image-item">
			<div class="card rounded-0 border-0" data-aos="fade-up" data-aos-duration="1500">
				<img class="img-fluid" src="frontend_files/images/project-img.png" alt="img">
				<div class="card-img-overlay">
					<div class="card-body">
						<a href="portfolio-single.html" class="h4 text-white">
							Drinking from the sea of knowledge</a>
						<ul class="meta-list list-unstyled d-flex">
							<li class="list-inline-item text-white fw-normal">Digital</li>
							<li class="list-inline-item text-white fw-normal">Exhibition</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 image-item">
			<div class="card rounded-0 border-0" data-aos="fade-up" data-aos-duration="1500">
				<img class="img-fluid" src="frontend_files/images/project-img-one.png" alt="img">
				<div class="card-img-overlay">
					<div class="card-body">
						<a href="portfolio-single.html" class="h4 text-white ">A Feast Of A Time-Honored History</a>
						<ul class="meta-list list-unstyled d-flex">
							<li class="list-inline-item text-white fw-normal">Digital</li>
							<li class="list-inline-item text-white fw-normal">Branding</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="col-md-6 image-item">
			<div class="card rounded-0 border-0" data-aos="fade-up" data-aos-duration="2000">
				<img class="img-fluid" src="frontend_files/images/project-img-two.png" alt="img">
				<div class="card-img-overlay">
					<div class="card-body">
						<a href="portfolio-single.html" class="h4 text-white ">Google Play ACG Interactive Game</a>
						<ul class="meta-list list-unstyled d-flex">
							<li class="list-inline-item text-white fw-normal">Digital</li>
							<li class="list-inline-item text-white fw-normal">Events</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="col-md-6 image-item">
			<div class="card rounded-0 border-0" data-aos="fade-up" data-aos-duration="2000">
				<img class="img-fluid" src="frontend_files/images/project-img-three.png" alt="img">
				<div class="card-img-overlay">
					<div class="card-body">
						<a href="portfolio-single.html" class="h4 text-white ">Monopoly Dreams Hong Kong</a>
						<ul class="meta-list list-unstyled d-flex">
							<li class="list-inline-item text-white fw-normal">Digital</li>
							<li class="list-inline-item text-white fw-normal">Marketing</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
		<div class="col-12 mx-auto text-center">
			<a href="portfolio.html" class="btn btn-outline-primary text-capitailize fw-medium py-2">view all</a>
		</div>
	</div>
</div></div></section><!--================== Project Section End ==================-->{% endblock %}
