{% if pagination.pageCount > 1 %}
	<ul class="pagination d-inline-flex">
		{% if pagination.currentPageNumber != 1 %}
			{# <li class="page-item">
			            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">First</a>
			        </li> #}
			<li class="page-item">
				<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pagination.currentPageNumber - 1})) }}">Previous</a>
			</li>
		{% endif %}

		{% for page in 1..pagination.pageCount %}
			<li class="page-item{% if page == pagination.currentPageNumber %} active bg-light{% endif %}">
				<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
			</li>
		{% endfor %}

		{% if pagination.currentPageNumber != pagination.pageCount %}
			<li class="page-item">
				<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pagination.currentPageNumber + 1})) }}">Next</a>
			</li>
			{#  <li class="page-item">
			            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pagination.pageCount})) }}">Last</a>
			        </li> #}
		{% endif %}
	</ul>
{% endif %}
