<header class="navigation border-bottom">
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<i class="far fa-envelope"></i>
				{{global_var.getUserDetails()['email']}}
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-lg-0">
					<li class="nav-item">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %} active {% endif %}" aria-current="page" href="{{ path('app_home') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link @@about {% if app.request.attributes.get('_route') == 'app_about' %} active {% endif %}" href="{{ path('app_about') }}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link @@blog {% if app.request.attributes.get('_route') == 'app_blog' %} active {% endif %}" href="{{ path('app_blog') }}">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link @@portfolio {% if app.request.attributes.get('_route') == 'app_portfolio' %} active {% endif %}" href="{{ path('app_portfolio') }}">Portfolio</a>
					</li>
				</ul>
				<a class="d-block text-center" role="search" href="https://drive.google.com/uc?id={{global_var.getUserDetails()['resume']}}" download="Soumya.pdf">
					<button class="text-capitalize btn btn-outline-primary px-4 py-2">
						<i class="fa-solid fa-download" style='margin-right: 5px;'></i>Download Resume</button>
				</a>
			</div>
		</div>
	</nav>
</header>
