<head>
	<meta charset="utf-8">
	<title>Soumya Manna |
		{{page_title}}</title>

	<!-- mobile responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

	<!-- ** Plugins Needed for the Project ** -->
	<!-- Slick -->
	<link
	rel="stylesheet" href="{{asset('frontend_files/plugins/slick/slick.css')}}"> <!-- Fontawesome -->
	<link rel="stylesheet" href="{{asset('frontend_files/plugins/font-awesome/fontawesome.min.css')}}">
	<link rel="stylesheet" href="{{asset('frontend_files/plugins/font-awesome/brands.css')}}">
	<link rel="stylesheet" href="{{asset('frontend_files/plugins/font-awesome/solid.css')}}">
	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<!-- aos -->
	<link
	rel="stylesheet" href="{{asset('frontend_files/plugins/aos/aos.css')}}">

	<!-- Main Stylesheet -->
  {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> #}
	<link href="{{asset('frontend_files/css/style.css')}}" rel="stylesheet">

	<!--Favicon-->
	<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	  <link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->

<link rel="shortcut icon" href="{{asset('favicon.png')}}" type="image/x-icon"> </head>
