{% extends 'frontend/base.html.twig' %}
{% block content %}

	{% block pagewisecontent %}{% endblock %}
	<!--================== Brand Logo Section start ==================-->
	<section class="brand-logo section pt-0">
		<div class="container">
			<div class="brand-logo-slider" data-aos="fade-up" data-aos-duration="1500">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/facebook.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/airbnb.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/microsoft.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/hubspp.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/facebook.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/irbnb.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/microsoft.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/hubspp.svg')}}" alt="img">
				<img class="brand-logo-img img-fluid" src="{{asset('frontend_files/images/tinder.svg')}}" alt="img">
			</div>
		</div>
	</div>
</div></section><!--================== Brand Logo Section End ==================--><!--================== Section Start ==================--><section class="has-bg-color">
<div class="container">
	<div class="row  justify-content-center align-items-center">
		<div class="col-md-6">
			<div class="me-4" data-aos="fade-right" data-aos-duration="1500">
				<h2>{{global_var.getPhrase()['phrase']}}</h2>
			</div>
		</div>
		<div class=" col-md-6" data-aos="fade-left" data-aos-duration="1500">
			<p class="mb-0">{{global_var.getPhrase()['description']}}</p>
		</div>
	</div>
</div></section><!--================== Section End ==================--><!--================== Service Section Start ==================--><section class="services section">
<div class="container">
	<div class="row mb-5 text-center">
		<div class="col-lg-6 col-12 mx-auto ">
			<div class="section-title mb-md-4">
				<h2>Providing
					<strong>Services
						<svg width="198" height="21" viewbox="0 0 198 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 18.7327C13.8854 9.74093 29.4859 8.69377 43.6964 6.03115C65.1095 2.01897 86.6266 1.40829 108.405 2.01061C137.628 2.81881 166.558 7.3721 195.577 11.0296" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
				</h2>
			</div>
		</div>
	</div>
	<div class="row g-4 justify-content-center">
		{% for service in global_var.getServices() %}
			<div class="col-lg-4 col-md-6 card-item">
				<div class="card text-center  border-0 bg-white radius shadow px-3 py-5" data-aos="fade-right" data-aos-duration="1500">
					<div class="card-icon mb-3">
						<i class="fas {{service.getIcon()}}"></i>
					</div>
					<div class="card-body">
						<h4 class="card-title">{{service.getServiceName()}}</h4>
						<p class="card-text small">{{service.getServiceDescription()}}
							nuasslla ntis enim vel suspend wergisse eu masgnis suada vitae, ullamchper nisl eget gravda.</p>
						<a href="javascript:;" class="text-primary card-link mb-0 small">View Details<i class="fas fa-arrow-right ms-2"></i>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div></section><!--================== Service Section End ==================--><!--================== Experience Section Start ==================--><section class="experience section">
<div class="container">
	<div class="row justify-content-between " data-aos="fade-up" data-aos-duration="1000">
		<div class="col-lg-5">
			<div class="section-title mb-5">
				<h2>I Have brunch Of Huge
					<strong>
						Experience.....
						<svg width="243" height="19" viewbox="0 0 243 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.21709 14.5397C22.6251 11.094 43.5278 9.994 63.9195 6.62078C83.198 3.43169 103.311 4.48586 122.822 4.14529C147.108 3.72138 171.148 2.75291 195.34 5.24786C205.654 6.31158 217.3 7.49114 227.395 9.95137C230.185 10.6315 240.184 10.4221 241.39 12.7333" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
				</h2>
			</div>
			<p>{{global_var.experience()['experienceOverView'].getExperienceDescription()}}
				sagittis et nualla leo ut nulla
																																																																																				          aliquam. Nisi, fermetum suspend vene ntis enim vel sussrf bedspend</p>
			<div class="d-sm-flex justify-content-center mb-5 mb-lg-0 border-top pt-4 mt-4">
				<div class="bg-primary me-sm-4 p-3 mb-4 mb-md-0">
					<span class="text-primary h2">{{global_var.experience()['experienceOverView'].getTotalProjects()}}</span>
					<p class="small">Projects completed with success.
					</p>
				</div>
				<div class="bg-primary me-sm-4 p-3 mb-4 mb-md-0">
					<span class="text-primary h2">{{global_var.experience()['experienceOverView'].getTotalExperience()}}
						years</span>
					<p class="small">
						of extensive experience yielding valuable insights and expertise.
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			{% for item in global_var.experience()['experience'] %}
				{% if loop.index<=3 %}
					<div class="mb-5">
						<p class="text-secondery fw-normal mb-3 h4">{{item.getDesignation()}}</p>
						<h3 class="mb-3 pb-3 border-bottom">{{item.getOfficeName()}}</h3>
						<div class="d-md-flex justify-content-between">
							<p class="fw-normal">{{item.getYears()}}</p>
							<p class=" fw-normal">{{item.getLocation()}}</p>
						</div>
					</div>

				{% endif %}
			{% endfor %}
		</div>
	</div>

</div></section><!--================== Experience Section End ==================--><!--================== Blog-post Section Start ==================--><section class="blog-post section pt-0">
<div class="container">
	<div class="row mb-5 justify-content-center align-items-center text-center">
		<div class="col-lg-6 col-12 mx-auto">
			<div class="section-title mb-5">
				<h2>My
					<strong>
						Blogpost
						<svg width="198" height="21" viewbox="0 0 198 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 18.7327C13.8854 9.74093 29.4859 8.69377 43.6964 6.03115C65.1095 2.01897 86.6266 1.40829 108.405 2.01061C137.628 2.81881 166.558 7.3721 195.577 11.0296" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
				</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 mx-auto justify-content-center align-items-center ">
			{% for item in global_var.getBlog() %}
				<div class="row justify-content-between align-items-center border-bottom blog mb-4 pb-4" data-aos="fade-up" data-aos-duration="1000">
					<div class="col-md-9">
						<a href="#" class=" d-inline-block h3 mb-3 text-tertiary fw-bold">{{item.getBlogHeading()}}</a>
						<p class="mb-1">{{item.getShortDescription()}}
							volutpat estera phasellus. Varius nec orci, quam augue lorem lines pellentesque non id. Tristique amet
																																																																																																																																					                  volutpat nunc euismod. Mauris felis at</p>
						<a href="{{path('app_blog_single',{'blog_slug':item.getSlug()})}}" class="text-primary small">Read more
							<i class="fas fa-arrow-right small ms-2"></i>
						</a>
					</div>
					<div class="col-md-2">
						<div class="blog-date">
							<h5>{{ item.getDate() }}
								<span class="text-primary d-inline-block">{{item.getCategoryName()}}
								</span>
							</h5>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div></section><!--================== Blog-post Section End ==================--><!--================== Project Section Start ==================--><section class="projects section pt-0">
<div class="container">
	<div class="row mb-5 text-center">
		<div class="col-lg-6 col-12 mx-auto ">
			<div class="section-title mb-md-4">
				<h2>My
					<strong>
						Selected
						<svg class="" width="198" height="21" viewbox="0 0 198 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 18.7327C13.8854 9.74093 29.4859 8.69377 43.6964 6.03115C65.1095 2.01897 86.6266 1.40829 108.405 2.01061C137.628 2.81881 166.558 7.3721 195.577 11.0296" stroke="#FF5733" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</strong>
					projects

				</h2>
			</div>
		</div>
	</div>
	<div class="row g-4 g-md-5 ">
		{% for item in global_var.getProjects() %}
			<div class="col-md-4 image-item">
				<div class="card rounded-0 border-0" data-aos="fade-up" data-aos-duration="1500">
					<img class="img-fluid" src="https://drive.google.com/uc?id={{item.getImage}}" alt="img">
					<div class="card-img-overlay">
						<div class="card-body">
							<a href="{{path('app_portfolio_single',{"slug":item.getslug})}}" class="h4 text-white">{{item.getHeading}}</a>
							<ul class="meta-list list-unstyled d-flex">
								<li class="list-inline-item text-white fw-normal">{{item.getTechnology}}</li>
								<li class="list-inline-item text-white fw-normal">{{item.getCategory}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="col-12 mx-auto text-center">
			<a href="{{path('app_portfolio')}}" class="btn btn-outline-primary text-capitailize fw-medium py-2">view all</a>
		</div>
	</div>
</div></div></section><!--================== Project Section End ==================-->{% endblock %}
